<component name="ArtifactManager">
  <artifact type="war" name="springTransaction:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springTransaction.war">
      <element id="artifact" artifact-name="springTransaction:war exploded" />
    </root>
  </artifact>
</component>